.scroll_label {
  writing-mode: vertical-lr; /* or use vertical-lr */
  font-size: 11px;
  text-transform: uppercase;
  color: #fcfcfe;
  letter-spacing: 2px;
  font-weight: 700;
  margin-top: 1rem;
}

.animated_circle {
  height: 5px;
  width: 5px;
  background-color: #fff;
  border-radius: 50%;
  animation: slide 2s infinite;
}
@keyframes slide {
  0% {
    opacity: 1;
    transform: translateY(5px);
  }
  50% {
    opacity: 0.5;
    transform: translateY(10px);
  }
  75% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 0;
    transform: translateY(0);
  }
}
